@model IEnumerable<RealEstates.Services.Models.PropertyViewModel>
<h1>Search by Year results</h1>

<table class="table table-striped table-condensed table-bordered table-hover">
    <tr>
        <th>District</th>
        <th>Building Type</th>
        <th>Property Type</th>
        <th>Price</th>
        <th>Year</th>
        <th>Size</th>
        <th>Floor</th>

    </tr>
    @foreach (var property in this.Model)
    {
        <tr>
            <td>@property.District</td>
            <td>@property.BuildingType</td>
            <td>@property.PropertyType</td>
            <td>€ @property.Price.ToString("### ### ###.00")</td>
            <td>
                @property.Year
                @if (property.Year.HasValue)
                {
                    @:год.
                }
            </td>
            <td>@property.Size.ToString("### ### ###.00")</td>
            <td>@property.Floor</td>
        </tr>
    }


</table>
